*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: #eeeeee;
}

h1{
    color: red;
    text-align: center;
}

.rotate_01{
    display: block;
    position: fixed;
    top: 22%;
    left: 45%;
    width: 550px;
    transform: translateX(-50%);

}
/*.rotate_01:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
}*/
.arrow {
    position: absolute;
    top:14%;
    left: 43.2%;
    transform: translateX(-50);
    color:red;
    font-size: 60px;
    
}
.arrow::before{
    content: '\1F817';
    font-size: 50px;

}
button {
    position: absolute;
    top: 76%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color:red;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 60%;
    color: orange;
    outline: none;
}
