* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.containerprincipal {
    display: flex;
    position: relative;
}

h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive;
    color: red;
    margin-bottom: 70px;
}

.containeruno {
    width: 80%;
    height: 50%;
    justify-content: right;
    align-items: center;
    display: flex;
}

img {

    margin-top: 60px;
    margin-left: 50%;
    height: 300px;
    animation-name: girarb;
    animation-duration: 3s;
    animation-timing-function: linear;
}



@keyframes girarb{
    from{
        transform:rotate(0deg) ;
    }to{
        transform:rotate(360deg);
    }
}

.arrow::before{
    position: absolute;
    content: '\1F817';
    font-size: 70px;
    color: red;
    top: -120px;
    margin-left: -310px;
}

.box {
    background-color:darkred;
    color: chartreuse;
    font-family: 'Concert One', cursive;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 20%;
    cursor: pointer;
    margin-bottom: 90px;
    margin-top: -180px;
    margin-left: 60px;
}
.btn{
    background-color: rgb(187, 220, 23);
    font-family: 'Concert One', cursive;
    font-size: medium;
    color: blueviolet;
    cursor: pointer;
}

.findepagina{
    font-family: 'Concert One', cursive;
    margin-top: 300px;
    margin-left: 90px;
}
#result {
    font-family: 'Concert One', cursive;
    font-size: 24px;
    color: blue; 
}